MONGODB_URI = "mongodb+srv://zdtfcx:songyuijo28@senna.2vyi8.mongodb.net/Senna?retryWrites=true&w=majority"

TOKEN_SECRET = "HnWs Backend World"

AWS_ACCESSID = AKIAUJVBKUOV75AZZUGU
AWS_SECRETID = EX1Ep48UkJngXc5MpbbhSVXiq/lkcbh/3VfRbV5s
AWS_REGION = ap-northeast-2

SERVER_URL = http://54.180.151.176

PWD_SALT = mongmong!!wow
PWD_MAKE_KEY = create to genenal key

KAKAO_ID = cc6010b4850d4873e0db9c948c0149c3